<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header2.css" />
    <link rel="stylesheet" href="/css/aula-card.css" />
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Document</title>
  </head>
  <body>
    <header>
      <button onclick="history.back()" class="back-button">
        <img src="../images/voltar.svg" alt="" />
      </button>
      <p>LÓGICA DE PROGRAMAÇÃO</p>
      <section>
        <p><%= user.NOME_USU || 'Aluno' %></p>
        <button
          class="user-icon"
          id="userIcon"
          aria-label="Abrir menu do usuário"
        >
          <img src="/aluno/foto-perfil/<%= user.ID_USUARIO %>?v=<%= timestamp %>" alt="imagem do perfil" style="width: 48px; height: 48px; object-fit: cover; border-radius: 50%; border: 2px solid #ccc;" 
          onerror="this.onerror=null; this.src='/images/perfil.svg';"/>
          <section class="user-config" id="userConfig">
            <h2><%= user.NOME_USU || 'Aluno' %></h2>
            <ul>
              <li><a href="/aluno/a-perfil">MENU</a></li>
              <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
              <li><a href="/aluno/logout">SAIR</a></li>
            </ul>
          </section>
        </button>
      </section>
    </header>
    <main class="conteiner">
      <section class="card">
        <section class="parabens">
          <h2>PARABÉNS</h2>
          <img
            src="/images/clapping-hands.svg"
            alt="icone de duas maos batendo palmas em comemoracao"
          />
        </section>
        <section class="terminou">
          <img
            src="/images/celebration.svg"
            alt="uma pessoa feliz com algo que fez apontando os dedos para si mesmo"
          />
          <p>VOCÊ TERMINOU TODOS OS EXERCÍCIOS DESTA AULA!</p>
          <section class="opcoes">
            <button class="botao">
              <a href="/aluno/aula"
                >PRÓXIMA AULA
                <img
                  src="/images/ir-para.svg"
                  alt="icone de uma seta que indica movimento"
              /></a>
            </button>
            <button class="botao">
              <a href="/aluno/a-perfil"
                >VOLTAR AO INÍCIO
                <img
                  src="/images/casa.svg"
                  alt="icnone de uma casa que simboliza a home"
              /></a>
            </button>
          </section>
        </section>
      </section>
    </main>
    <script src="/js/icon-menu.js"></script>
  </body>
</html>
