<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/certificado.css">
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Certificados</title>
</head>
<body>
    <%- include('../../pages/partials/header') %>
    <main>
        <section class="container">
            <h1>TESTE DO HEADER</h1>
            <section class="certificado">
                <p>Lógica de Programação</p>
                <section class="icons">
                    <a href="#"><img src="/images/docsearch.svg" alt=""></a>
                    <a href="#"><img src="/images/upload.svg" alt=""></a>
                </section>
            </section>
            <p>Não há mais certificados....</p>
        </section>
    </main>
    <script src="/js/icon-menu.js"></script>
</body>
</html>